<h3>Новый комментарий:</h3>
<form class="comment-form" method="POST" action="{{ site.staticman_url }}">
  <input name="options[redirect]" type="hidden" value="{{ site.url }}{{ page.url }}">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <textarea class="comment-form__field" style="width:100%" name="fields[message]" rows="12" placeholder="Ваш комментарий*"></textarea>
  <input class="comment-form__field" name="fields[name]" type="text" placeholder="Имя*">
  <input class="comment-form__field" name="fields[email]" type="email" placeholder="Email (не публикуется; только для аватара)">
  <input class="comment-form__field" name="fields[url]" type="url" placeholder="Website">
  <button class="comment-form__submit" type="submit">Опубликовать</button>
  <small>Комментарий будет добавлен после проверки на спам</small>
</form>